@model IQueryable<bdeli.Models.bD_OpenTime>
    @using bdeli.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    bDeliEntities db = new bDeliEntities();
    var lst = db.bD_ValueHour.ToList();
}

<div class="main-wrapper">
    <div class="container">

        <!-- Start breadcrumb section  -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/webmaster/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quản lí thời gian mở cửa</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Start form -->
        <div class="form-area">
            <div class="row">

                <div class="col-lg-12">
                    <div class="single-form" style="width:32%">
                        <div class="section-head">
                            <div class="title">
                                <h4>Chỉnh sửa thời gian mở cửa</h4>
                            </div>
                        </div>

                        <div class="section-body">
                            <form action="/opentimemaster/edit" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Thứ Hai </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select class="form-control" name="mon">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "AM";
                                                    if (item.Value == Model.FirstOrDefault().mon)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }

                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" name="monend">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "PM";
                                                    if (item.Value == Model.FirstOrDefault().monend)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Thứ Ba </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select class="form-control" name="tue">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "AM";
                                                    if (item.Value == Model.FirstOrDefault().tue)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }

                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" name="tueend">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "PM";
                                                    if (item.Value == Model.FirstOrDefault().tueend)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Thứ Tư </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select class="form-control" name="wen">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "AM";
                                                    if (item.Value == Model.FirstOrDefault().wen)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" name="wenend">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "PM";
                                                    if (item.Value == Model.FirstOrDefault().wenend)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Thứ Năm </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select class="form-control" name="thu">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "AM";
                                                    if (item.Value == Model.FirstOrDefault().thu)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" name="thuend">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "PM";
                                                    if (item.Value == Model.FirstOrDefault().thuend)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Thứ Sáu </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select class="form-control" name="fri">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "AM";
                                                    if (item.Value == Model.FirstOrDefault().fri)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" name="friend">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "PM";
                                                    if (item.Value == Model.FirstOrDefault().friend)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Thứ Bảy </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select class="form-control" name="sat">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "AM";
                                                    if (item.Value == Model.FirstOrDefault().sat)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" name="satend">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "PM";
                                                    if (item.Value == Model.FirstOrDefault().satend)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Chủ Nhật </label>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <select class="form-control" name="sun">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "AM";
                                                    if (item.Value == Model.FirstOrDefault().sun)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                        <div class="col-lg-6">
                                            <select class="form-control" name="sunend">
                                                @foreach (var item in lst)
                                                {
                                                    item.Value += "PM";
                                                    if (item.Value == Model.FirstOrDefault().sunend)
                                                    {
                                                        <option selected value="@item.Value">@item.Value</option>
                                                    }
                                                    <option value="@item.Value">@item.Value</option>
                                                    item.Value = item.Value.Remove(item.Value.Length - 2);
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <input class="btn btn-primaryt" type="submit" value="Lưu" />
                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>